<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Html Generated</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="styles.css">
            
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }
            </style>
          
          </head>
          
          <body>
            <div class=e0_1122><div class=e0_1123><div  class="e0_1124"></div><div  class="e0_1125"></div></div><div  class="e0_1126"></div><div class=e0_1127><div  class="ei0_1127_2807_6302"></div><div  class="ei0_1127_2807_6303"></div></div><div  class="e0_1128"></div><span  class="e0_1129">Suchen..</span><div class=e0_1130><div class=e0_1131><div  class="e0_1132"></div><div class=e0_1133><div class=e0_1134><div class=e0_1135><div class=e0_1137><div  class="e0_1138"></div></div></div><div class=e0_1139><span  class="e0_1140">Vorname
Nachname</span></div></div></div></div></div><span  class="e0_1141">Inaktive</span></div>
          </body>
          </html>