.0_1122 { 
	overflow:hidden;
}.e0_1122 { 
	width:549px;
	height:1017px;
	position:absolute;
}.e0_1123 { 
	width:23.048397064208984px;
	height:23.048397064208984px;
	position:absolute;
	left:478.5740661621094px;
	top:33.61217498779297px;
}.0_1124 { 
	border:3.2011663913726807px solid rgba(170.0000050663948, 175.00000476837158, 182.00000435113907, 1);
}.e0_1124 { 
	width:23.048397064208984px;
	height:23.048397064208984px;
	position:absolute;
	left:0px;
	top:0px;
}.0_1125 { 
	border:3.2011663913726807px solid rgba(170.0000050663948, 175.00000476837158, 182.00000435113907, 1);
}.e0_1125 { 
	width:23.048397064208984px;
	height:23.048397064208984px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_1126 { 
	background-color:rgba(242.00000077486038, 245.00000059604645, 250.00000029802322, 1);
	width:549px;
	height:1017px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:38.413997650146484px;
	border-top-right-radius:38.413997650146484px;
	border-bottom-left-radius:38.413997650146484px;
	border-bottom-right-radius:38.413997650146484px;
}.e0_1127 { 
	width:40px;
	height:40px;
	position:absolute;
	left:477px;
	top:45px;
}.i0_1127_2807_6302 { 
	border:2px solid rgba(50.93359552323818, 54.29185912013054, 62.68750101327896, 1);
}.ei0_1127_2807_6302 { 
	width:20px;
	height:20px;
	position:absolute;
	left:10px;
	top:10px;
	border-radius:2px;
}.ei0_1127_2807_6303 { 
	transform: rotate(180deg);
	width:20px;
	height:20px;
	position:absolute;
	left:30px;
	top:10px;
	border-radius:2px;
}.i0_1127_2807_6303 { 
	border:2px solid rgba(50.93359552323818, 54.29185912013054, 62.68750101327896, 1);
}.e0_1128 { 
	background-color:rgba(242.00000077486038, 245.00000059604645, 250.00000029802322, 1);
	width:506px;
	height:87px;
	position:absolute;
	left:22px;
	top:107px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.0_1128 { 
	border:3px solid rgba(66.00000366568565, 105.00000134110451, 225.00000178813934, 1);
}.e0_1129 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:45px;
	position:absolute;
	left:48px;
	top:128px;
	font-family:Poppins;
	text-align:left;
	font-size:24.008747100830078px;
	letter-spacing:-1.100000023841858;
	line-height:px;
}.e0_1130 { 
	width:506px;
	height:90px;
	position:absolute;
	left:22px;
	top:218px;
}.e0_1131 { 
	width:506px;
	height:90px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_1132 { 
	background-color:rgba(255, 255, 255, 1);
	width:506px;
	height:90px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}.e0_1133 { 
	width:481px;
	height:70.08999633789062px;
	position:absolute;
	left:13px;
	top:10px;
}.e0_1134 { 
	width:481px;
	height:70.08999633789062px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_1135 { 
	width:70.08999633789062px;
	height:70.08999633789062px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_1137 { 
	width:70.08999633789062px;
	height:70.08999633789062px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_1138 { 
	width:70.08999633789062px;
	height:70.08999633789062px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:95.49999237060547px;
	border-top-right-radius:95.49999237060547px;
	border-bottom-left-radius:95.49999237060547px;
	border-bottom-right-radius:95.49999237060547px;
	background-image:url(images/avatar___small.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e0_1139 { 
	width:392px;
	height:66px;
	position:absolute;
	left:89px;
	top:2px;
}.e0_1140 { 
	color:rgba(0, 0, 0, 1);
	width:392px;
	height:66px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:24.008747100830078px;
	letter-spacing:-1.100000023841858;
	line-height:px;
}.e0_1141 { 
	color:rgba(0, 0, 0, 1);
	width:94px;
	height:33px;
	position:absolute;
	left:260px;
	top:58px;
	font-family:Poppins;
	text-align:left;
	font-size:24.008747100830078px;
	letter-spacing:-1.100000023841858;
	line-height:px;
}