<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Html Generated</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="styles.css">
            
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }
            </style>
          
          </head>
          
          <body>
            <div class=e0_654><div class=e0_655><div  class="e0_656"></div><div  class="e0_657"></div></div><div  class="e0_658"></div><span  class="e0_659">Add Jobtitle</span><div  class="e0_660"></div><div class=e0_661><div  class="e0_662"></div><span  class="e0_663">Jobtitle</span></div><div class=e0_664><div  class="e0_665"></div><div class=e0_666><div  class="e0_667"></div><div  class="e0_668"></div><div  class="e0_669"></div><div  class="e0_670"></div></div></div><div class=e0_671><div  class="e0_672"></div><div class=e0_673><div  class="e0_674"></div><div  class="e0_675"></div></div></div><div  class="e0_676"></div></div>
          </body>
          </html>