.0_654 { 
	overflow:hidden;
}.e0_654 { 
	width:549px;
	height:1105px;
	position:absolute;
}.e0_655 { 
	width:23.048397064208984px;
	height:23.048397064208984px;
	position:absolute;
	left:478.5740661621094px;
	top:33.61217498779297px;
}.0_656 { 
	border:3.2011663913726807px solid rgba(170.0000050663948, 175.00000476837158, 182.00000435113907, 1);
}.e0_656 { 
	width:23.048397064208984px;
	height:23.048397064208984px;
	position:absolute;
	left:0px;
	top:0px;
}.0_657 { 
	border:3.2011663913726807px solid rgba(170.0000050663948, 175.00000476837158, 182.00000435113907, 1);
}.e0_657 { 
	width:23.048397064208984px;
	height:23.048397064208984px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_658 { 
	background-color:rgba(242.00000077486038, 245.00000059604645, 250.00000029802322, 1);
	width:549px;
	height:1105px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:38.413997650146484px;
	border-top-right-radius:38.413997650146484px;
	border-bottom-left-radius:38.413997650146484px;
	border-bottom-right-radius:38.413997650146484px;
}.e0_659 { 
	color:rgba(0, 0, 0, 1);
	width:147px;
	height:45px;
	position:absolute;
	left:194px;
	top:118px;
	font-family:Poppins;
	text-align:left;
	font-size:24.008747100830078px;
	letter-spacing:-1.100000023841858;
	line-height:px;
}.e0_660 { 
	background-color:rgba(255, 255, 255, 1);
	width:410px;
	height:70px;
	position:absolute;
	left:22px;
	top:195px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.0_660 { 
	border:3px solid rgba(66.00000366568565, 105.00000134110451, 225.00000178813934, 1);
}.e0_661 { 
	width:392px;
	height:70px;
	position:absolute;
	left:40px;
	top:315px;
}.e0_662 { 
	background-color:rgba(255, 255, 255, 1);
	width:392px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:11px;
	border-top-right-radius:11px;
	border-bottom-left-radius:11px;
	border-bottom-right-radius:11px;
}.e0_663 { 
	color:rgba(0, 0, 0, 1);
	width:96px;
	height:45px;
	position:absolute;
	left:17px;
	top:13px;
	font-family:Inter;
	text-align:left;
	font-size:24.008747100830078px;
	letter-spacing:-1.100000023841858;
	line-height:px;
}.e0_664 { 
	width:70px;
	height:70px;
	position:absolute;
	left:446px;
	top:317px;
}.e0_665 { 
	background-color:rgba(225.00000178813934, 65.99999606609344, 65.99999606609344, 1);
	width:70px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:9px;
	border-top-right-radius:9px;
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;
}.e0_666 { 
	width:33px;
	height:33px;
	position:absolute;
	left:19px;
	top:18px;
}.e0_667 { 
	transform: rotate(-90.00000379466331deg);
	width:4.125px;
	height:0px;
	position:absolute;
	left:13.750000953674316px;
	top:20.625px;
	border-radius:2px;
}.0_667 { 
	border:2px solid rgba(255, 255, 255, 1);
}.e0_668 { 
	transform: rotate(-90.00000379466331deg);
	width:4.125px;
	height:0px;
	position:absolute;
	left:19.250001907348633px;
	top:20.625px;
	border-radius:2px;
}.0_668 { 
	border:2px solid rgba(255, 255, 255, 1);
}.0_669 { 
	border:2px solid rgba(255, 255, 255, 1);
}.e0_669 { 
	width:24.75px;
	height:17.874998092651367px;
	position:absolute;
	left:4.125px;
	top:9.625000953674316px;
	border-radius:Symbol(figma.mixed)px;
}.e0_670 { 
	transform: rotate(180deg);
	border-radius:500px;
	width:5.499999523162842px;
	height:1.3749998807907104px;
	position:absolute;
	left:19.250001907348633px;
	top:4.125px;
}.0_670 { 
	border:2px solid rgba(255, 255, 255, 1);
}.e0_671 { 
	width:70px;
	height:70px;
	position:absolute;
	left:446px;
	top:195px;
}.e0_672 { 
	background-color:rgba(148.000006377697, 196.00000351667404, 58.00000034272671, 1);
	width:70px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:9px;
	border-top-right-radius:9px;
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;
}.e0_673 { 
	width:35px;
	height:35px;
	position:absolute;
	left:18px;
	top:17px;
}.e0_674 { 
	transform: rotate(-0.0000036523629464660502deg);
	position:absolute;
	left:17.5px;
	top:8.75px;
	border-radius:1px;
}.0_674 { 
	border:2px solid rgba(255, 255, 255, 1);
}.e0_675 { 
	transform: rotate(90.00000365236377deg);
	position:absolute;
	left:26.25px;
	top:17.5px;
	border-radius:1px;
}.0_675 { 
	border:2px solid rgba(255, 255, 255, 1);
}.e0_676 { 
	transform: rotate(4.969616689786745e-17deg);
	width:494.0040588378906px;
	height:0px;
	position:absolute;
	left:21.997976303100586px;
	top:282px;
}.0_676 { 
	border:3px solid rgba(66.00000366568565, 105.00000134110451, 225.00000178813934, 1);
}