.e0_795 { 
	background-color:rgba(242.00000077486038, 245.00000059604645, 250.00000029802322, 1);
	width:549px;
	height:1105px;
	border-top-left-radius:38.413997650146484px;
	border-top-right-radius:38.413997650146484px;
	border-bottom-left-radius:38.413997650146484px;
	border-bottom-right-radius:38.413997650146484px;
}