.0_327 { 
	overflow:hidden;
}.e0_327 { 
	background-color:rgba(242.00000077486038, 245.00000059604645, 250.00000029802322, 1);
	width:1728px;
	height:1116px;
	position:absolute;
}.e0_328 { 
	width:1571px;
	height:149px;
	position:absolute;
	left:78px;
	top:281px;
}.e0_329 { 
	width:1247.80029296875px;
	height:149px;
	position:absolute;
	left:323.1998291015625px;
	top:0px;
}.e0_330 { 
	width:302.20086669921875px;
	height:149px;
	position:absolute;
	left:315.1998291015625px;
	top:0px;
}.e0_331 { 
	box-shadow:12px 24px 48px rgba(0, 0, 0, 0.10000000149011612);
	background-color:rgba(255, 255, 255, 1);
	width:302.20086669921875px;
	height:149px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e0_332 { 
	color:rgba(0, 0, 0, 1);
	width:236.90634155273438px;
	height:42.57143020629883px;
	position:absolute;
	left:32.600341796875px;
	top:17.738094329833984px;
	font-family:Poppins;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}.e0_333 { 
	width:302.20086669921875px;
	height:149px;
	position:absolute;
	left:630.3995361328125px;
	top:0px;
}.e0_334 { 
	box-shadow:12px 24px 48px rgba(0, 0, 0, 0.10000000149011612);
	background-color:rgba(255, 255, 255, 1);
	width:302.20086669921875px;
	height:149px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e0_335 { 
	color:rgba(0, 0, 0, 1);
	width:255.14999389648438px;
	height:42.57143020629883px;
	position:absolute;
	left:26.400634765625px;
	top:17.738094329833984px;
	font-family:Poppins;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}.e0_336 { 
	width:302.20086669921875px;
	height:149px;
	position:absolute;
	left:945.5994873046875px;
	top:0px;
}.e0_337 { 
	box-shadow:12px 24px 48px rgba(0, 0, 0, 0.10000000149011612);
	background-color:rgba(255, 255, 255, 1);
	width:302.20086669921875px;
	height:149px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e0_338 { 
	color:rgba(0, 0, 0, 1);
	width:255.14999389648438px;
	height:42.57143020629883px;
	position:absolute;
	left:26.20068359375px;
	top:17.738094329833984px;
	font-family:Poppins;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}.e0_339 { 
	width:302.20086669921875px;
	height:149px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_340 { 
	box-shadow:12px 24px 48px rgba(0, 0, 0, 0.10000000149011612);
	background-color:rgba(255, 255, 255, 1);
	width:302.20086669921875px;
	height:149px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e0_341 { 
	color:rgba(0, 0, 0, 1);
	width:236.90634155273438px;
	height:42.57143020629883px;
	position:absolute;
	left:36.8001708984375px;
	top:17.738094329833984px;
	font-family:Poppins;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}.e0_342 { 
	box-shadow:12px 24px 48px rgba(0, 0, 0, 0.10000000149011612);
	width:302.20001220703125px;
	height:146.9189910888672px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_343 { 
	background-color:rgba(255, 255, 255, 1);
	width:302.20001220703125px;
	height:146.9189910888672px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e0_344 { 
	color:rgba(0, 0, 0, 1);
	width:236.91058349609375px;
	height:42.57143020629883px;
	position:absolute;
	left:33px;
	top:17.738094329833984px;
	font-family:Poppins;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}.e0_345 { 
	background-color:rgba(66.00000366568565, 105.00000134110451, 225.00000178813934, 1);
	width:206px;
	height:54px;
	position:absolute;
	left:126px;
	top:349px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e0_346 { 
	background-color:rgba(225.00000178813934, 151.86000645160675, 65.99999606609344, 1);
	width:206px;
	height:54px;
	position:absolute;
	left:1395px;
	top:349px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e0_347 { 
	background-color:rgba(202.74002104997635, 65.99999606609344, 225.00000178813934, 1);
	width:206px;
	height:54px;
	position:absolute;
	left:1080px;
	top:349px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e0_348 { 
	background-color:rgba(225.00000178813934, 65.99999606609344, 65.99999606609344, 1);
	width:206px;
	height:54px;
	position:absolute;
	left:761px;
	top:349px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e0_349 { 
	color:rgba(255, 255, 255, 1);
	width:17px;
	height:36px;
	position:absolute;
	left:221px;
	top:357px;
	font-family:Poppins;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e0_350 { 
	color:rgba(255, 255, 255, 1);
	width:17px;
	height:36px;
	position:absolute;
	left:1490px;
	top:357px;
	font-family:Poppins;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e0_351 { 
	color:rgba(255, 255, 255, 1);
	width:17px;
	height:36px;
	position:absolute;
	left:1175px;
	top:357px;
	font-family:Poppins;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e0_352 { 
	color:rgba(255, 255, 255, 1);
	width:17px;
	height:36px;
	position:absolute;
	left:856px;
	top:357px;
	font-family:Poppins;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e0_353 { 
	width:206px;
	height:47.89285659790039px;
	position:absolute;
	left:449px;
	top:341.3095703125px;
}.e0_354 { 
	background-color:rgba(78.72000351548195, 225.00000178813934, 65.99999606609344, 1);
	width:206px;
	height:47.89285659790039px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e0_355 { 
	color:rgba(255, 255, 255, 1);
	width:17px;
	height:36px;
	position:absolute;
	left:95px;
	top:7.6904296875px;
	font-family:Poppins;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e0_356 { 
	width:181px;
	height:181px;
	position:absolute;
	left:82px;
	top:59px;
}.e0_357 { 
	box-shadow:12px 24px 48px rgba(30.00000201165676, 32.000005692243576, 36.00000165402889, 0.10000000149011612);
	background-color:rgba(66.00000366568565, 105.00000134110451, 225.00000178813934, 1);
	width:181px;
	height:181px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}.e0_358 { 
	width:147px;
	height:147px;
	position:absolute;
	left:16px;
	top:17px;
}.e0_359 { 
	width:93.41999816894531px;
	height:93.41999816894531px;
	position:absolute;
	left:27.28424072265625px;
	top:27.283748626708984px;
}.e0_360 { 
	width:73.26000213623047px;
	height:73.26000213623047px;
	position:absolute;
	left:10.0771484375px;
	top:5.97119140625px;
}.e0_361 { 
	width:73.26000213623047px;
	height:73.26000213623047px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_362 { 
	width:73.26000213623047px;
	height:73.26000213623047px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_363 { 
	background-color:rgba(255, 255, 255, 1);
	width:64.09915161132812px;
	height:73.26000213623047px;
	position:absolute;
	left:4.580926895141602px;
	top:-0.000006437717729568249px;
}.e0_364 { 
	background-color:rgba(255, 255, 255, 1);
	width:26.827375411987305px;
	height:30.301414489746094px;
	position:absolute;
	left:16.019264221191406px;
	top:17.17728042602539px;
}.e0_365 { 
	color:rgba(66.00000366568565, 105.00000134110451, 225.00000178813934, 1);
	width:36px;
	height:48px;
	position:absolute;
	left:21.638671875px;
	top:9.7451171875px;
	font-family:Poppins;
	text-align:left;
	font-size:40.5px;
	letter-spacing:0;
}.e0_366 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:114.02639770507812px;
	height:114.02639770507812px;
	position:absolute;
	left:16.548118591308594px;
	top:16.416362762451172px;
}.e0_367 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:147px;
	height:147px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_368 { 
	width:80px;
	height:80px;
	position:absolute;
	left:284px;
	top:110px;
}.e0_369 { 
	background-color:rgba(66.00000366568565, 105.00000134110451, 225.00000178813934, 1);
	width:80px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e0_370 { 
	width:34px;
	height:32.5147590637207px;
	position:absolute;
	left:23px;
	top:23px;
}.ei0_370_0_139 { 
	border-radius:500px;
	width:11.333330154418945px;
	height:10.838250160217285px;
	position:absolute;
	left:11.333330154418945px;
	top:4.064344882965088px;
}.i0_370_0_139 { 
	border:3px solid rgba(255, 255, 255, 1);
}.i0_370_0_140 { 
	border:3px solid rgba(255, 255, 255, 1);
}.ei0_370_0_140 { 
	width:19.833335876464844px;
	height:9.48347282409668px;
	position:absolute;
	left:7.083334922790527px;
	top:18.96694564819336px;
	border-radius:Symbol(figma.mixed)px;
}.e0_371 { 
	width:80px;
	height:80px;
	position:absolute;
	left:660px;
	top:110px;
}.e0_372 { 
	width:80px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_373 { 
	background-color:rgba(66.00000366568565, 105.00000134110451, 225.00000178813934, 1);
	width:80px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e0_374 { 
	width:34px;
	height:32.5147590637207px;
	position:absolute;
	left:23px;
	top:23px;
}.ei0_374_0_145 { 
	transform: rotate(90.00000261888013deg);
	width:5.419125080108643px;
	height:5.666665077209473px;
	position:absolute;
	left:25.5px;
	top:12.193035125732422px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}.i0_374_0_145 { 
	border:2px solid rgba(255, 255, 255, 1);
}.ei0_374_0_146 { 
	transform: rotate(90.00000261888013deg);
	width:5.419125080108643px;
	height:5.666665077209473px;
	position:absolute;
	left:25.5px;
	top:23.031293869018555px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}.i0_374_0_146 { 
	border:2px solid rgba(255, 255, 255, 1);
}.ei0_374_0_147 { 
	transform: rotate(-89.99999738111988deg);
	width:5.419125080108643px;
	height:5.666665077209473px;
	position:absolute;
	left:4.25px;
	top:9.48347282409668px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}.i0_374_0_147 { 
	border:2px solid rgba(255, 255, 255, 1);
}.i0_374_0_148 { 
	border:2px solid rgba(255, 255, 255, 1);
}.ei0_374_0_148 { 
	width:12.75px;
	height:14.902594566345215px;
	position:absolute;
	left:7.083334922790527px;
	top:10.838250160217285px;
	border-radius:2px;
}.i0_374_0_149 { 
	border:2px solid rgba(255, 255, 255, 1);
}.ei0_374_0_149 { 
	width:12.75px;
	height:5.419125080108643px;
	position:absolute;
	left:7.083334922790527px;
	top:9.48347282409668px;
	border-radius:2px;
}.e0_375 { 
	width:80px;
	height:80px;
	position:absolute;
	left:378px;
	top:110px;
}.e0_376 { 
	width:80px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_377 { 
	width:80px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_378 { 
	background-color:rgba(66.00000366568565, 105.00000134110451, 225.00000178813934, 1);
	width:80px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e0_379 { 
	width:34px;
	height:32.5147590637207px;
	position:absolute;
	left:23px;
	top:23px;
}.ei0_379_0_162 { 
	transform: rotate(0.0000035357329731854074deg);
	width:8.5px;
	height:0px;
	position:absolute;
	left:12.75px;
	top:17.612159729003906px;
	border-radius:2px;
}.i0_379_0_162 { 
	border:2px solid rgba(255, 255, 255, 1);
}.ei0_379_0_163 { 
	transform: rotate(0.0000035357329731854074deg);
	width:5.666666507720947px;
	height:0px;
	position:absolute;
	left:12.75px;
	top:12.193035125732422px;
	border-radius:2px;
}.i0_379_0_163 { 
	border:2px solid rgba(255, 255, 255, 1);
}.ei0_379_0_164 { 
	transform: rotate(0.0000035357329731854074deg);
	width:5.666666507720947px;
	height:0px;
	position:absolute;
	left:12.75px;
	top:23.031288146972656px;
	border-radius:2px;
}.i0_379_0_164 { 
	border:2px solid rgba(255, 255, 255, 1);
}.i0_379_0_165 { 
	border:2px solid rgba(255, 255, 255, 1);
}.ei0_379_0_165 { 
	width:19.83333396911621px;
	height:24.386070251464844px;
	position:absolute;
	left:7.083333492279053px;
	top:4.064344882965088px;
	border-radius:3px;
}.ei0_379_0_166 { 
	transform: rotate(-0.000002262013542789346deg);
	position:absolute;
	left:25.5px;
	top:4.064344882965088px;
	border-radius:1px;
}.i0_379_0_166 { 
	border:2px solid rgba(255, 255, 255, 1);
}.ei0_379_0_167 { 
	transform: rotate(90.00000236534036deg);
	position:absolute;
	left:29.75px;
	top:8.128689765930176px;
	border-radius:1px;
}.i0_379_0_167 { 
	border:2px solid rgba(255, 255, 255, 1);
}.e0_380 { 
	width:80px;
	height:80px;
	position:absolute;
	left:472px;
	top:110px;
}.e0_381 { 
	width:80px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_382 { 
	width:80px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_383 { 
	width:80px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_384 { 
	background-color:rgba(66.00000366568565, 105.00000134110451, 225.00000178813934, 1);
	width:80px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e0_385 { 
	width:34px;
	height:32.5147590637207px;
	position:absolute;
	left:21px;
	top:20px;
}.i0_385_0_174 { 
	border:2px solid rgba(255, 255, 255, 1);
}.ei0_385_0_174 { 
	width:26px;
	height:28px;
	position:absolute;
	left:4px;
	top:4px;
	border-radius:Symbol(figma.mixed)px;
}.i0_385_0_175 { 
	border:2px solid rgba(255, 255, 255, 1);
}.ei0_385_0_175 { 
	width:4px;
	height:4px;
	position:absolute;
	left:8px;
	top:8px;
}.ei0_385_0_176 { 
	transform: rotate(-3.0909433231428205e-15deg);
	width:4px;
	height:0px;
	position:absolute;
	left:8px;
	top:16px;
	border-radius:1px;
}.i0_385_0_176 { 
	border:2px solid rgba(255, 255, 255, 1);
}.e0_386 { 
	width:80px;
	height:80px;
	position:absolute;
	left:566px;
	top:110px;
}.e0_387 { 
	width:80px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_388 { 
	width:80px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_389 { 
	width:80px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_390 { 
	background-color:rgba(66.00000366568565, 105.00000134110451, 225.00000178813934, 1);
	width:80px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e0_391 { 
	width:34px;
	height:32.5147590637207px;
	position:absolute;
	left:23px;
	top:23px;
}.i0_391_0_183 { 
	border:4px solid rgba(255, 255, 255, 1);
}.ei0_391_0_183 { 
	width:25.5px;
	height:0px;
	position:absolute;
	left:4.25px;
	top:28.450414657592773px;
	border-radius:2px;
}.i0_391_0_184 { 
	border:4px solid rgba(255, 255, 255, 1);
}.ei0_391_0_184 { 
	position:absolute;
	left:5.666666507720947px;
	top:18.966943740844727px;
	border-radius:0.15000000596046448px;
}.i0_391_0_185 { 
	border:4px solid rgba(255, 255, 255, 1);
}.ei0_391_0_185 { 
	position:absolute;
	left:17px;
	top:12.193035125732422px;
	border-radius:0.15000000596046448px;
}.i0_391_0_186 { 
	border:4px solid rgba(255, 255, 255, 1);
}.ei0_391_0_186 { 
	position:absolute;
	left:11.333333015441895px;
	top:13.547816276550293px;
	border-radius:0.15000000596046448px;
}.i0_391_0_187 { 
	border:4px solid rgba(255, 255, 255, 1);
}.ei0_391_0_187 { 
	position:absolute;
	left:22.66666603088379px;
	top:14.902597427368164px;
	border-radius:0.15000000596046448px;
}.i0_391_0_188 { 
	border:4px solid rgba(255, 255, 255, 1);
}.ei0_391_0_188 { 
	position:absolute;
	left:28.33333396911621px;
	top:6.7739081382751465px;
	border-radius:0.15000000596046448px;
}.e0_392 { 
	width:80px;
	height:80px;
	position:absolute;
	left:754px;
	top:110px;
}.e0_393 { 
	width:80px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_394 { 
	width:80px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_395 { 
	background-color:rgba(66.00000366568565, 105.00000134110451, 225.00000178813934, 1);
	width:80px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e0_396 { 
	width:34px;
	height:32.5147590637207px;
	position:absolute;
	left:23px;
	top:24px;
}.i0_396_0_194 { 
	border:2px solid rgba(255, 255, 255, 1);
}.ei0_396_0_194 { 
	width:28.333335876464844px;
	height:27.095632553100586px;
	position:absolute;
	left:2.8333308696746826px;
	top:2.7095632553100586px;
}.ei0_396_0_195 { 
	background-color:rgba(39.00000147521496, 59.00000028312206, 74.0000031888485, 1);
	width:28.333335876464844px;
	height:27.095632553100586px;
	position:absolute;
	left:5.7196469782638815e-11px;
	top:0px;
	border-radius:1px;
}.ei0_396_0_196 { 
	background-color:rgba(39.00000147521496, 59.00000028312206, 74.0000031888485, 1);
	width:8.5px;
	height:27.095632553100586px;
	position:absolute;
	left:9.916668891906738px;
	top:0px;
}.ei0_396_0_197 { 
	transform: rotate(-43.72082482567454deg);
	background-color:rgba(39.00000147521496, 59.00000028312206, 74.0000031888485, 1);
	width:8.316417694091797px;
	height:27.721391677856445px;
	position:absolute;
	left:1.1441271305084229px;
	top:6.8413825035095215px;
}.ei0_396_0_198 { 
	transform: rotate(90.00000261888013deg);
	background-color:rgba(39.00000147521496, 59.00000028312206, 74.0000031888485, 1);
	width:8.128689765930176px;
	height:28.33333396911621px;
	position:absolute;
	left:28.333335876464844px;
	top:9.483470916748047px;
}.ei0_396_0_199 { 
	transform: rotate(43.72082482567454deg);
	background-color:rgba(39.00000147521496, 59.00000028312206, 74.0000031888485, 1);
	width:8.316417694091797px;
	height:27.721391677856445px;
	position:absolute;
	left:21.178754806518555px;
	top:1.0941448211669922px;
}.ei0_396_0_200 { 
	border-radius:500px;
	background-color:rgba(38.736979588866234, 59.40702684223652, 74.3749974668026, 1);
	width:11.333333015441895px;
	height:10.838253021240234px;
	position:absolute;
	left:8.500001907348633px;
	top:8.128689765930176px;
}.e0_397 { 
	width:485px;
	height:235px;
	position:absolute;
	left:114px;
	top:496px;
}.e0_398 { 
	width:485px;
	height:235px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_399 { 
	width:485px;
	height:235px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_400 { 
	width:485px;
	height:235px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_401 { 
	width:485px;
	height:235px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_402 { 
	width:485px;
	height:235px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_403 { 
	width:485px;
	height:235px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_404 { 
	width:485px;
	height:235px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_405 { 
	background-color:rgba(255, 255, 255, 1);
	width:485px;
	height:235px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e0_406 { 
	color:rgba(0, 0, 0, 1);
	width:416px;
	height:38px;
	position:absolute;
	left:34px;
	top:142px;
	font-family:Poppins;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e0_407 { 
	color:rgba(0, 0, 0, 1);
	width:415px;
	height:36px;
	position:absolute;
	left:35px;
	top:172px;
	font-family:Poppins;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e0_408 { 
	width:185px;
	height:48px;
	position:absolute;
	left:150px;
	top:31px;
}.e0_409 { 
	background-color:rgba(225.00000178813934, 65.99999606609344, 65.99999606609344, 1);
	width:55px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}.e0_410 { 
	background-color:rgba(78.72000351548195, 225.00000178813934, 65.99999606609344, 1);
	width:130px;
	height:48px;
	position:absolute;
	left:55px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}.e0_411 { 
	color:rgba(255, 255, 255, 1);
	width:158px;
	height:36px;
	position:absolute;
	left:14px;
	top:6px;
	font-family:Poppins;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e0_412 { 
	width:48px;
	height:48px;
	position:absolute;
	left:405px;
	top:31px;
}.e0_413 { 
	background-color:rgba(66.00000366568565, 105.00000134110451, 225.00000178813934, 1);
	width:48px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e0_414 { 
	width:24px;
	height:22.95159339904785px;
	position:absolute;
	left:12px;
	top:12px;
}.ei0_414_0_219 { 
	border-radius:500px;
	width:8px;
	height:7.65053129196167px;
	position:absolute;
	left:8px;
	top:7.65053129196167px;
}.i0_414_0_219 { 
	border:2px solid rgba(255, 255, 255, 1);
}.i0_414_0_220 { 
	border:2px solid rgba(255, 255, 255, 1);
}.ei0_414_0_220 { 
	width:18px;
	height:11.475796699523926px;
	position:absolute;
	left:3px;
	top:5.737898349761963px;
	border-radius:Symbol(figma.mixed)px;
}.e0_415 { 
	width:35px;
	height:36px;
	position:absolute;
	left:35px;
	top:37px;
}.e0_416 { 
	background-color:rgba(225.00000178813934, 65.99999606609344, 65.99999606609344, 1);
	width:35px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
}.e0_417 { 
	color:rgba(255, 255, 255, 1);
	width:15px;
	height:36px;
	position:absolute;
	left:10px;
	top:0px;
	font-family:Poppins;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e0_418 { 
	width:35px;
	height:36px;
	position:absolute;
	left:80px;
	top:37px;
}.e0_419 { 
	background-color:rgba(88.25999200344086, 225.00000178813934, 65.99999606609344, 1);
	width:35px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
}.e0_420 { 
	color:rgba(255, 255, 255, 1);
	width:15px;
	height:36px;
	position:absolute;
	left:10px;
	top:0px;
	font-family:Poppins;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e0_421 { 
	width:485px;
	height:235px;
	position:absolute;
	left:1130px;
	top:496px;
}.e0_422 { 
	width:485px;
	height:235px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_423 { 
	width:485px;
	height:235px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_424 { 
	width:485px;
	height:235px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_425 { 
	width:485px;
	height:235px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_426 { 
	background-color:rgba(255, 255, 255, 1);
	width:485px;
	height:235px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e0_427 { 
	color:rgba(0, 0, 0, 1);
	width:416px;
	height:38px;
	position:absolute;
	left:34px;
	top:142px;
	font-family:Poppins;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e0_428 { 
	color:rgba(0, 0, 0, 1);
	width:415px;
	height:36px;
	position:absolute;
	left:35px;
	top:172px;
	font-family:Poppins;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e0_429 { 
	width:185px;
	height:48px;
	position:absolute;
	left:150px;
	top:31px;
}.e0_430 { 
	background-color:rgba(225.00000178813934, 65.99999606609344, 65.99999606609344, 1);
	width:55px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}.e0_431 { 
	background-color:rgba(78.72000351548195, 225.00000178813934, 65.99999606609344, 1);
	width:130px;
	height:48px;
	position:absolute;
	left:55px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}.e0_432 { 
	color:rgba(255, 255, 255, 1);
	width:158px;
	height:36px;
	position:absolute;
	left:14px;
	top:6px;
	font-family:Poppins;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e0_433 { 
	width:48px;
	height:48px;
	position:absolute;
	left:405px;
	top:31px;
}.e0_434 { 
	background-color:rgba(66.00000366568565, 105.00000134110451, 225.00000178813934, 1);
	width:48px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e0_435 { 
	width:24px;
	height:22.95159339904785px;
	position:absolute;
	left:12px;
	top:12px;
}.ei0_435_0_219 { 
	border-radius:500px;
	width:8px;
	height:7.65053129196167px;
	position:absolute;
	left:8px;
	top:7.65053129196167px;
}.i0_435_0_219 { 
	border:2px solid rgba(255, 255, 255, 1);
}.i0_435_0_220 { 
	border:2px solid rgba(255, 255, 255, 1);
}.ei0_435_0_220 { 
	width:18px;
	height:11.475796699523926px;
	position:absolute;
	left:3px;
	top:5.737898349761963px;
	border-radius:Symbol(figma.mixed)px;
}.e0_436 { 
	width:35px;
	height:36px;
	position:absolute;
	left:35px;
	top:37px;
}.e0_437 { 
	background-color:rgba(225.00000178813934, 65.99999606609344, 65.99999606609344, 1);
	width:35px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
}.e0_438 { 
	color:rgba(255, 255, 255, 1);
	width:15px;
	height:36px;
	position:absolute;
	left:10px;
	top:0px;
	font-family:Poppins;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e0_439 { 
	width:35px;
	height:36px;
	position:absolute;
	left:80px;
	top:37px;
}.e0_440 { 
	background-color:rgba(88.25999200344086, 225.00000178813934, 65.99999606609344, 1);
	width:35px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
}.e0_441 { 
	color:rgba(255, 255, 255, 1);
	width:15px;
	height:36px;
	position:absolute;
	left:10px;
	top:0px;
	font-family:Poppins;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e0_442 { 
	width:485px;
	height:235px;
	position:absolute;
	left:622px;
	top:496px;
}.e0_443 { 
	width:485px;
	height:235px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_444 { 
	width:485px;
	height:235px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_445 { 
	width:485px;
	height:235px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_446 { 
	width:485px;
	height:235px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_447 { 
	background-color:rgba(255, 255, 255, 1);
	width:485px;
	height:235px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e0_448 { 
	color:rgba(0, 0, 0, 1);
	width:416px;
	height:38px;
	position:absolute;
	left:34px;
	top:142px;
	font-family:Poppins;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e0_449 { 
	color:rgba(0, 0, 0, 1);
	width:415px;
	height:36px;
	position:absolute;
	left:35px;
	top:172px;
	font-family:Poppins;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e0_450 { 
	width:185px;
	height:48px;
	position:absolute;
	left:150px;
	top:31px;
}.e0_451 { 
	background-color:rgba(225.00000178813934, 65.99999606609344, 65.99999606609344, 1);
	width:55px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}.e0_452 { 
	background-color:rgba(78.72000351548195, 225.00000178813934, 65.99999606609344, 1);
	width:130px;
	height:48px;
	position:absolute;
	left:55px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}.e0_453 { 
	color:rgba(255, 255, 255, 1);
	width:158px;
	height:36px;
	position:absolute;
	left:14px;
	top:6px;
	font-family:Poppins;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e0_454 { 
	width:48px;
	height:48px;
	position:absolute;
	left:405px;
	top:31px;
}.e0_455 { 
	background-color:rgba(66.00000366568565, 105.00000134110451, 225.00000178813934, 1);
	width:48px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e0_456 { 
	width:24px;
	height:22.95159339904785px;
	position:absolute;
	left:12px;
	top:12px;
}.ei0_456_0_219 { 
	border-radius:500px;
	width:8px;
	height:7.65053129196167px;
	position:absolute;
	left:8px;
	top:7.65053129196167px;
}.i0_456_0_219 { 
	border:2px solid rgba(255, 255, 255, 1);
}.i0_456_0_220 { 
	border:2px solid rgba(255, 255, 255, 1);
}.ei0_456_0_220 { 
	width:18px;
	height:11.475796699523926px;
	position:absolute;
	left:3px;
	top:5.737898349761963px;
	border-radius:Symbol(figma.mixed)px;
}.e0_457 { 
	width:35px;
	height:36px;
	position:absolute;
	left:35px;
	top:37px;
}.e0_458 { 
	background-color:rgba(225.00000178813934, 65.99999606609344, 65.99999606609344, 1);
	width:35px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
}.e0_459 { 
	color:rgba(255, 255, 255, 1);
	width:15px;
	height:36px;
	position:absolute;
	left:10px;
	top:0px;
	font-family:Poppins;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e0_460 { 
	width:35px;
	height:36px;
	position:absolute;
	left:80px;
	top:37px;
}.e0_461 { 
	background-color:rgba(88.25999200344086, 225.00000178813934, 65.99999606609344, 1);
	width:35px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
}.e0_462 { 
	color:rgba(255, 255, 255, 1);
	width:15px;
	height:36px;
	position:absolute;
	left:10px;
	top:0px;
	font-family:Poppins;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e0_463 { 
	width:1501px;
	height:144px;
	position:absolute;
	left:114px;
	top:762px;
}.e0_464 { 
	width:485px;
	height:144px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_465 { 
	width:485px;
	height:144px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_466 { 
	width:485px;
	height:144px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_467 { 
	width:485px;
	height:144px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_468 { 
	width:485px;
	height:144px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_469 { 
	width:485px;
	height:144px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_470 { 
	width:485px;
	height:144px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_471 { 
	background-color:rgba(255, 255, 255, 1);
	width:485px;
	height:144px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e0_472 { 
	color:rgba(0, 0, 0, 1);
	width:416px;
	height:38px;
	position:absolute;
	left:35px;
	top:89px;
	font-family:Poppins;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e0_473 { 
	width:440px;
	height:48px;
	position:absolute;
	left:22px;
	top:25px;
}.e0_474 { 
	width:48px;
	height:48px;
	position:absolute;
	left:392px;
	top:0px;
}.e0_475 { 
	background-color:rgba(66.00000366568565, 105.00000134110451, 225.00000178813934, 1);
	width:48px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e0_476 { 
	width:24px;
	height:22.95159339904785px;
	position:absolute;
	left:12px;
	top:12px;
}.ei0_476_0_219 { 
	border-radius:500px;
	width:8px;
	height:7.65053129196167px;
	position:absolute;
	left:8px;
	top:7.65053129196167px;
}.i0_476_0_219 { 
	border:2px solid rgba(255, 255, 255, 1);
}.i0_476_0_220 { 
	border:2px solid rgba(255, 255, 255, 1);
}.ei0_476_0_220 { 
	width:18px;
	height:11.475796699523926px;
	position:absolute;
	left:3px;
	top:5.737898349761963px;
	border-radius:Symbol(figma.mixed)px;
}.e0_477 { 
	width:35px;
	height:36px;
	position:absolute;
	left:0px;
	top:5px;
}.e0_478 { 
	background-color:rgba(225.00000178813934, 65.99999606609344, 65.99999606609344, 1);
	width:35px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
}.e0_479 { 
	color:rgba(255, 255, 255, 1);
	width:15px;
	height:36px;
	position:absolute;
	left:10px;
	top:0px;
	font-family:Poppins;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e0_480 { 
	width:35px;
	height:36px;
	position:absolute;
	left:46px;
	top:5px;
}.e0_481 { 
	background-color:rgba(88.25999200344086, 225.00000178813934, 65.99999606609344, 1);
	width:35px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
}.e0_482 { 
	color:rgba(255, 255, 255, 1);
	width:15px;
	height:36px;
	position:absolute;
	left:10px;
	top:0px;
	font-family:Poppins;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e0_483 { 
	width:485px;
	height:144px;
	position:absolute;
	left:508px;
	top:0px;
}.e0_484 { 
	width:485px;
	height:144px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_485 { 
	width:485px;
	height:144px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_486 { 
	width:485px;
	height:144px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_487 { 
	width:485px;
	height:144px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_488 { 
	width:485px;
	height:144px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_489 { 
	width:485px;
	height:144px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_490 { 
	background-color:rgba(255, 255, 255, 1);
	width:485px;
	height:144px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e0_491 { 
	color:rgba(0, 0, 0, 1);
	width:416px;
	height:38px;
	position:absolute;
	left:35px;
	top:89px;
	font-family:Poppins;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e0_492 { 
	width:440px;
	height:48px;
	position:absolute;
	left:22px;
	top:25px;
}.e0_493 { 
	width:48px;
	height:48px;
	position:absolute;
	left:392px;
	top:0px;
}.e0_494 { 
	background-color:rgba(66.00000366568565, 105.00000134110451, 225.00000178813934, 1);
	width:48px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e0_495 { 
	width:24px;
	height:22.95159339904785px;
	position:absolute;
	left:12px;
	top:12px;
}.ei0_495_0_219 { 
	border-radius:500px;
	width:8px;
	height:7.65053129196167px;
	position:absolute;
	left:8px;
	top:7.65053129196167px;
}.i0_495_0_219 { 
	border:2px solid rgba(255, 255, 255, 1);
}.i0_495_0_220 { 
	border:2px solid rgba(255, 255, 255, 1);
}.ei0_495_0_220 { 
	width:18px;
	height:11.475796699523926px;
	position:absolute;
	left:3px;
	top:5.737898349761963px;
	border-radius:Symbol(figma.mixed)px;
}.e0_496 { 
	width:35px;
	height:36px;
	position:absolute;
	left:0px;
	top:5px;
}.e0_497 { 
	background-color:rgba(225.00000178813934, 65.99999606609344, 65.99999606609344, 1);
	width:35px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
}.e0_498 { 
	color:rgba(255, 255, 255, 1);
	width:15px;
	height:36px;
	position:absolute;
	left:10px;
	top:0px;
	font-family:Poppins;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e0_499 { 
	width:35px;
	height:36px;
	position:absolute;
	left:46px;
	top:5px;
}.e0_500 { 
	background-color:rgba(88.25999200344086, 225.00000178813934, 65.99999606609344, 1);
	width:35px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
}.e0_501 { 
	color:rgba(255, 255, 255, 1);
	width:15px;
	height:36px;
	position:absolute;
	left:10px;
	top:0px;
	font-family:Poppins;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e0_502 { 
	width:485px;
	height:144px;
	position:absolute;
	left:1016px;
	top:0px;
}.e0_503 { 
	width:485px;
	height:144px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_504 { 
	width:485px;
	height:144px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_505 { 
	width:485px;
	height:144px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_506 { 
	width:485px;
	height:144px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_507 { 
	width:485px;
	height:144px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_508 { 
	width:485px;
	height:144px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_509 { 
	background-color:rgba(255, 255, 255, 1);
	width:485px;
	height:144px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e0_510 { 
	color:rgba(0, 0, 0, 1);
	width:416px;
	height:38px;
	position:absolute;
	left:35px;
	top:89px;
	font-family:Poppins;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e0_511 { 
	width:440px;
	height:48px;
	position:absolute;
	left:22px;
	top:25px;
}.e0_512 { 
	width:48px;
	height:48px;
	position:absolute;
	left:392px;
	top:0px;
}.e0_513 { 
	background-color:rgba(66.00000366568565, 105.00000134110451, 225.00000178813934, 1);
	width:48px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e0_514 { 
	width:24px;
	height:22.95159339904785px;
	position:absolute;
	left:12px;
	top:12px;
}.ei0_514_0_219 { 
	border-radius:500px;
	width:8px;
	height:7.65053129196167px;
	position:absolute;
	left:8px;
	top:7.65053129196167px;
}.i0_514_0_219 { 
	border:2px solid rgba(255, 255, 255, 1);
}.i0_514_0_220 { 
	border:2px solid rgba(255, 255, 255, 1);
}.ei0_514_0_220 { 
	width:18px;
	height:11.475796699523926px;
	position:absolute;
	left:3px;
	top:5.737898349761963px;
	border-radius:Symbol(figma.mixed)px;
}.e0_515 { 
	width:35px;
	height:36px;
	position:absolute;
	left:0px;
	top:5px;
}.e0_516 { 
	background-color:rgba(225.00000178813934, 65.99999606609344, 65.99999606609344, 1);
	width:35px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
}.e0_517 { 
	color:rgba(255, 255, 255, 1);
	width:15px;
	height:36px;
	position:absolute;
	left:10px;
	top:0px;
	font-family:Poppins;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e0_518 { 
	width:35px;
	height:36px;
	position:absolute;
	left:46px;
	top:5px;
}.e0_519 { 
	background-color:rgba(88.25999200344086, 225.00000178813934, 65.99999606609344, 1);
	width:35px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:7px;
	border-top-right-radius:7px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
}.e0_520 { 
	color:rgba(255, 255, 255, 1);
	width:15px;
	height:36px;
	position:absolute;
	left:10px;
	top:0px;
	font-family:Poppins;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e0_521 { 
	background-color:rgba(242.00000077486038, 245.00000059604645, 250.00000029802322, 1);
	width:300px;
	height:300px;
	position:absolute;
	left:714px;
	top:408px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e0_522 { 
	background-color:rgba(28.271353170275688, 29.693958833813667, 32.93749898672104, 0.8500000238418579);
	width:300px;
	height:300px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_523 { 
	width:70.08999633789062px;
	height:70.08999633789062px;
	position:absolute;
	left:23px;
	top:25px;
}.e0_525 { 
	width:70.08999633789062px;
	height:70.08999633789062px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_526 { 
	width:70.08999633789062px;
	height:70.08999633789062px;
	position:absolute;
	left:23px;
	top:25px;
}.e0_528 { 
	width:70.08999633789062px;
	height:70.08999633789062px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_530 { 
	width:70.08999633789062px;
	height:70.08999633789062px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_531 { 
	width:70.08999633789062px;
	height:70.08999633789062px;
	position:absolute;
	left:117px;
	top:25px;
}.e0_532 { 
	width:258.0199890136719px;
	height:70.08999633789062px;
	position:absolute;
	left:23px;
	top:25px;
}.e0_534 { 
	width:258.0199890136719px;
	height:70.08999633789062px;
	position:absolute;
	left:23px;
	top:25px;
}.e0_536 { 
	width:70.08999633789062px;
	height:70.08999633789062px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_537 { 
	width:70.08999633789062px;
	height:70.08999633789062px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:95.49999237060547px;
	border-top-right-radius:95.49999237060547px;
	border-bottom-left-radius:95.49999237060547px;
	border-bottom-right-radius:95.49999237060547px;
	background-image:url(images/avatar___small.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e0_538 { 
	width:70.08999633789062px;
	height:70.08999633789062px;
	position:absolute;
	left:93.96499633789062px;
	top:0px;
}.e0_540 { 
	width:70.08999633789062px;
	height:70.08999633789062px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_541 { 
	width:70.08999633789062px;
	height:70.08999633789062px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:95.49999237060547px;
	border-top-right-radius:95.49999237060547px;
	border-bottom-left-radius:95.49999237060547px;
	border-bottom-right-radius:95.49999237060547px;
	background-image:url(images/avatar___small.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e0_542 { 
	width:70.08999633789062px;
	height:70.08999633789062px;
	position:absolute;
	left:187.92999267578125px;
	top:0px;
}.e0_544 { 
	width:70.08999633789062px;
	height:70.08999633789062px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_545 { 
	width:70.08999633789062px;
	height:70.08999633789062px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:95.49999237060547px;
	border-top-right-radius:95.49999237060547px;
	border-bottom-left-radius:95.49999237060547px;
	border-bottom-right-radius:95.49999237060547px;
	background-image:url(images/avatar___small.png);
	background-repeat:no-repeat;
	background-size:cover;
}.0_546 { 
	border:3px solid rgba(225.00000178813934, 65.99999606609344, 65.99999606609344, 1);
}.e0_546 { 
	width:70.08999633789062px;
	height:70.08999633789062px;
	position:absolute;
	left:21px;
	top:115px;
	border-top-left-radius:95.49999237060547px;
	border-top-right-radius:95.49999237060547px;
	border-bottom-left-radius:95.49999237060547px;
	border-bottom-right-radius:95.49999237060547px;
	background-image:url(images/avatar___small.png);
	background-repeat:no-repeat;
	background-size:cover;
}.0_547 { 
	border:3px solid rgba(88.25999200344086, 225.00000178813934, 65.99999606609344, 1);
}.e0_547 { 
	width:70.08999633789062px;
	height:70.08999633789062px;
	position:absolute;
	left:114.965087890625px;
	top:115px;
	border-top-left-radius:95.49999237060547px;
	border-top-right-radius:95.49999237060547px;
	border-bottom-left-radius:95.49999237060547px;
	border-bottom-right-radius:95.49999237060547px;
	background-image:url(images/avatar___small.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e0_548 { 
	width:70.08999633789062px;
	height:70.08999633789062px;
	position:absolute;
	left:208.929931640625px;
	top:115px;
	border-top-left-radius:95.49999237060547px;
	border-top-right-radius:95.49999237060547px;
	border-bottom-left-radius:95.49999237060547px;
	border-bottom-right-radius:95.49999237060547px;
	background-image:url(images/avatar___small.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e0_549 { 
	width:258.0199279785156px;
	height:70.08999633789062px;
	position:absolute;
	left:21px;
	top:205px;
}.e0_550 { 
	width:70.08999633789062px;
	height:70.08999633789062px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:95.49999237060547px;
	border-top-right-radius:95.49999237060547px;
	border-bottom-left-radius:95.49999237060547px;
	border-bottom-right-radius:95.49999237060547px;
	background-image:url(images/avatar___small.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e0_551 { 
	width:70.08999633789062px;
	height:70.08999633789062px;
	position:absolute;
	left:93.965087890625px;
	top:0px;
	border-top-left-radius:95.49999237060547px;
	border-top-right-radius:95.49999237060547px;
	border-bottom-left-radius:95.49999237060547px;
	border-bottom-right-radius:95.49999237060547px;
	background-image:url(images/avatar___small.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e0_552 { 
	width:70.08999633789062px;
	height:70.08999633789062px;
	position:absolute;
	left:187.929931640625px;
	top:0px;
	border-top-left-radius:95.49999237060547px;
	border-top-right-radius:95.49999237060547px;
	border-bottom-left-radius:95.49999237060547px;
	border-bottom-right-radius:95.49999237060547px;
	background-image:url(images/avatar___small.png);
	background-repeat:no-repeat;
	background-size:cover;
}