<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Html Generated</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="styles.css">
            
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }
            </style>
          
          </head>
          
          <body>
            <div class=e0_1078><div class=e0_1079><div  class="e0_1080"></div><div  class="e0_1081"></div></div><div  class="e0_1082"></div><div class=e0_1083><div  class="ei0_1083_2807_6302"></div><div  class="ei0_1083_2807_6303"></div></div><div  class="e0_1084"></div><span  class="e0_1085">Suchen..</span><div class=e0_1086><div class=e0_1087><div  class="e0_1088"></div><div class=e0_1089><div class=e0_1090><div class=e0_1091><div class=e0_1093><div  class="e0_1094"></div></div></div><div class=e0_1095><span  class="e0_1096">Vorname
Nachname</span></div></div></div></div></div><span  class="e0_1097">Vacation</span></div>
          </body>
          </html>