.0_1166 { 
	overflow:hidden;
}.e0_1166 { 
	width:549px;
	height:1207px;
	position:absolute;
}.e0_1167 { 
	width:23.048397064208984px;
	height:23.048397064208984px;
	position:absolute;
	left:478.5740661621094px;
	top:33.61217498779297px;
}.0_1168 { 
	border:3.2011663913726807px solid rgba(170.0000050663948, 175.00000476837158, 182.00000435113907, 1);
}.e0_1168 { 
	width:23.048397064208984px;
	height:23.048397064208984px;
	position:absolute;
	left:0px;
	top:0px;
}.0_1169 { 
	border:3.2011663913726807px solid rgba(170.0000050663948, 175.00000476837158, 182.00000435113907, 1);
}.e0_1169 { 
	width:23.048397064208984px;
	height:23.048397064208984px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_1170 { 
	background-color:rgba(242.00000077486038, 245.00000059604645, 250.00000029802322, 1);
	width:549px;
	height:1207px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:38.413997650146484px;
	border-top-right-radius:38.413997650146484px;
	border-bottom-left-radius:38.413997650146484px;
	border-bottom-right-radius:38.413997650146484px;
}.e0_1171 { 
	width:40px;
	height:40px;
	position:absolute;
	left:477px;
	top:45px;
}.i0_1171_2807_6302 { 
	border:2px solid rgba(50.93359552323818, 54.29185912013054, 62.68750101327896, 1);
}.ei0_1171_2807_6302 { 
	width:20px;
	height:20px;
	position:absolute;
	left:10px;
	top:10px;
	border-radius:2px;
}.ei0_1171_2807_6303 { 
	transform: rotate(180deg);
	width:20px;
	height:20px;
	position:absolute;
	left:30px;
	top:10px;
	border-radius:2px;
}.i0_1171_2807_6303 { 
	border:2px solid rgba(50.93359552323818, 54.29185912013054, 62.68750101327896, 1);
}.e0_1172 { 
	width:492px;
	height:76px;
	position:absolute;
	left:28px;
	top:479px;
}.e0_1173 { 
	width:156px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_1174 { 
	width:156px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_1175 { 
	background-color:rgba(255, 255, 255, 1);
	width:156px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e0_1176 { 
	color:rgba(0, 0, 0, 1);
	width:91px;
	height:33px;
	position:absolute;
	left:16px;
	top:5px;
	font-family:Poppins;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
	line-height:px;
}.e0_1177 { 
	color:rgba(0, 0, 0, 1);
	width:97px;
	height:33px;
	position:absolute;
	left:16px;
	top:38px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:-1.100000023841858;
	line-height:px;
}.e0_1178 { 
	width:156px;
	height:76px;
	position:absolute;
	left:168px;
	top:0px;
}.e0_1179 { 
	width:156px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_1180 { 
	background-color:rgba(255, 255, 255, 1);
	width:156px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e0_1181 { 
	color:rgba(0, 0, 0, 1);
	width:83px;
	height:33px;
	position:absolute;
	left:16px;
	top:5px;
	font-family:Poppins;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
	line-height:px;
}.e0_1182 { 
	color:rgba(0, 0, 0, 1);
	width:97px;
	height:33px;
	position:absolute;
	left:16px;
	top:38px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:-1.100000023841858;
	line-height:px;
}.e0_1183 { 
	width:156px;
	height:76px;
	position:absolute;
	left:336px;
	top:0px;
}.e0_1184 { 
	width:156px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_1185 { 
	background-color:rgba(255, 255, 255, 1);
	width:156px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e0_1186 { 
	color:rgba(0, 0, 0, 1);
	width:85px;
	height:33px;
	position:absolute;
	left:16px;
	top:5px;
	font-family:Poppins;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
	line-height:px;
}.e0_1187 { 
	color:rgba(0, 0, 0, 1);
	width:97px;
	height:33px;
	position:absolute;
	left:16px;
	top:38px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:-1.100000023841858;
	line-height:px;
}.e0_1188 { 
	transform: rotate(9.93923337957349e-17deg);
	width:492px;
	height:0px;
	position:absolute;
	left:28px;
	top:433px;
}.0_1188 { 
	border:2px solid rgba(66.00000366568565, 105.00000134110451, 225.00000178813934, 1);
}.e0_1189 { 
	width:324px;
	height:76px;
	position:absolute;
	left:112px;
	top:629px;
}.e0_1190 { 
	width:156px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_1191 { 
	background-color:rgba(255, 255, 255, 1);
	width:156px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e0_1192 { 
	color:rgba(0, 0, 0, 1);
	width:64px;
	height:33px;
	position:absolute;
	left:16px;
	top:5px;
	font-family:Poppins;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
	line-height:px;
}.e0_1193 { 
	color:rgba(0, 0, 0, 1);
	width:85px;
	height:33px;
	position:absolute;
	left:16px;
	top:38px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:-1.100000023841858;
	line-height:px;
}.e0_1194 { 
	width:156px;
	height:76px;
	position:absolute;
	left:168px;
	top:0px;
}.e0_1195 { 
	width:156px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_1196 { 
	background-color:rgba(255, 255, 255, 1);
	width:156px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e0_1197 { 
	color:rgba(0, 0, 0, 1);
	width:56px;
	height:33px;
	position:absolute;
	left:16px;
	top:5px;
	font-family:Poppins;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
	line-height:px;
}.e0_1198 { 
	color:rgba(0, 0, 0, 1);
	width:85px;
	height:33px;
	position:absolute;
	left:16px;
	top:38px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:-1.100000023841858;
	line-height:px;
}.e0_1199 { 
	width:492px;
	height:76px;
	position:absolute;
	left:30px;
	top:344px;
}.e0_1200 { 
	width:156px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_1201 { 
	width:156px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_1202 { 
	background-color:rgba(255, 255, 255, 1);
	width:156px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e0_1203 { 
	color:rgba(0, 0, 0, 1);
	width:123px;
	height:33px;
	position:absolute;
	left:16px;
	top:5px;
	font-family:Poppins;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
	line-height:px;
}.e0_1204 { 
	color:rgba(0, 0, 0, 1);
	width:97px;
	height:33px;
	position:absolute;
	left:16px;
	top:38px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:-1.100000023841858;
	line-height:px;
}.e0_1205 { 
	width:156px;
	height:76px;
	position:absolute;
	left:168px;
	top:0px;
}.e0_1206 { 
	width:156px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_1207 { 
	background-color:rgba(255, 255, 255, 1);
	width:156px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e0_1208 { 
	color:rgba(0, 0, 0, 1);
	width:68px;
	height:33px;
	position:absolute;
	left:16px;
	top:5px;
	font-family:Poppins;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
	line-height:px;
}.e0_1209 { 
	color:rgba(0, 0, 0, 1);
	width:97px;
	height:33px;
	position:absolute;
	left:16px;
	top:38px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:-1.100000023841858;
	line-height:px;
}.e0_1210 { 
	width:156px;
	height:76px;
	position:absolute;
	left:336px;
	top:0px;
}.e0_1211 { 
	width:156px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_1212 { 
	background-color:rgba(255, 255, 255, 1);
	width:156px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e0_1213 { 
	color:rgba(0, 0, 0, 1);
	width:104px;
	height:33px;
	position:absolute;
	left:16px;
	top:5px;
	font-family:Poppins;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
	line-height:px;
}.e0_1214 { 
	color:rgba(0, 0, 0, 1);
	width:97px;
	height:33px;
	position:absolute;
	left:16px;
	top:38px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:-1.100000023841858;
	line-height:px;
}.e0_1215 { 
	transform: rotate(9.93923337957349e-17deg);
	width:492px;
	height:0px;
	position:absolute;
	left:25px;
	top:572px;
}.0_1215 { 
	border:2px solid rgba(66.00000366568565, 105.00000134110451, 225.00000178813934, 1);
}.e0_1216 { 
	color:rgba(0, 0, 0, 1);
	width:48px;
	height:33px;
	position:absolute;
	left:29px;
	top:589px;
	font-family:Poppins;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
	line-height:px;
}.e0_1217 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:33px;
	position:absolute;
	left:28px;
	top:446px;
	font-family:Poppins;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
	line-height:px;
}.e0_1218 { 
	color:rgba(0, 0, 0, 1);
	width:113px;
	height:33px;
	position:absolute;
	left:23px;
	top:306px;
	font-family:Poppins;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
	line-height:px;
}.e0_1219 { 
	width:491px;
	height:76px;
	position:absolute;
	left:29px;
	top:116px;
}.e0_1220 { 
	width:491px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_1221 { 
	background-color:rgba(255, 255, 255, 1);
	width:491px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e0_1222 { 
	color:rgba(0, 0, 0, 1);
	width:286.4166564941406px;
	height:33px;
	position:absolute;
	left:16px;
	top:5px;
	font-family:Poppins;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
	line-height:px;
}.e0_1223 { 
	color:rgba(0, 0, 0, 1);
	width:462px;
	height:33px;
	position:absolute;
	left:16px;
	top:38px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:-1.100000023841858;
	line-height:px;
}.e0_1224 { 
	width:491px;
	height:76px;
	position:absolute;
	left:29px;
	top:206px;
}.e0_1225 { 
	width:156px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_1226 { 
	background-color:rgba(255, 255, 255, 1);
	width:156px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e0_1227 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:33px;
	position:absolute;
	left:16px;
	top:5px;
	font-family:Poppins;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
	line-height:px;
}.e0_1228 { 
	color:rgba(0, 0, 0, 1);
	width:42px;
	height:33px;
	position:absolute;
	left:16px;
	top:38px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:-1.100000023841858;
	line-height:px;
}.e0_1229 { 
	width:312px;
	height:76px;
	position:absolute;
	left:179px;
	top:0px;
}.e0_1230 { 
	width:312px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_1231 { 
	background-color:rgba(255, 255, 255, 1);
	width:312px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e0_1232 { 
	color:rgba(0, 0, 0, 1);
	width:112px;
	height:33px;
	position:absolute;
	left:17px;
	top:5px;
	font-family:Poppins;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
	line-height:px;
}.e0_1233 { 
	color:rgba(0, 0, 0, 1);
	width:170px;
	height:33px;
	position:absolute;
	left:17px;
	top:38px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:-1.100000023841858;
	line-height:px;
}.e0_1234 { 
	transform: rotate(9.93923337957349e-17deg);
	width:492px;
	height:0px;
	position:absolute;
	left:28px;
	top:300px;
}.0_1234 { 
	border:2px solid rgba(66.00000366568565, 105.00000134110451, 225.00000178813934, 1);
}.e0_1235 { 
	width:324px;
	height:76px;
	position:absolute;
	left:112px;
	top:718px;
}.e0_1236 { 
	width:156px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_1237 { 
	background-color:rgba(255, 255, 255, 1);
	width:156px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e0_1238 { 
	color:rgba(0, 0, 0, 1);
	width:94px;
	height:33px;
	position:absolute;
	left:16px;
	top:5px;
	font-family:Poppins;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
	line-height:px;
}.e0_1239 { 
	color:rgba(0, 0, 0, 1);
	width:85px;
	height:33px;
	position:absolute;
	left:16px;
	top:38px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:-1.100000023841858;
	line-height:px;
}.e0_1240 { 
	width:156px;
	height:76px;
	position:absolute;
	left:168px;
	top:0px;
}.e0_1241 { 
	width:156px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_1242 { 
	background-color:rgba(255, 255, 255, 1);
	width:156px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e0_1243 { 
	color:rgba(0, 0, 0, 1);
	width:99px;
	height:33px;
	position:absolute;
	left:16px;
	top:5px;
	font-family:Poppins;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
	line-height:px;
}.e0_1244 { 
	color:rgba(0, 0, 0, 1);
	width:85px;
	height:33px;
	position:absolute;
	left:16px;
	top:38px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:-1.100000023841858;
	line-height:px;
}.e0_1245 { 
	width:324px;
	height:76px;
	position:absolute;
	left:112px;
	top:807px;
}.e0_1246 { 
	width:156px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_1247 { 
	background-color:rgba(255, 255, 255, 1);
	width:156px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e0_1248 { 
	color:rgba(0, 0, 0, 1);
	width:94px;
	height:33px;
	position:absolute;
	left:16px;
	top:5px;
	font-family:Poppins;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
	line-height:px;
}.e0_1249 { 
	color:rgba(0, 0, 0, 1);
	width:85px;
	height:33px;
	position:absolute;
	left:16px;
	top:38px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:-1.100000023841858;
	line-height:px;
}.e0_1250 { 
	width:156px;
	height:76px;
	position:absolute;
	left:168px;
	top:0px;
}.e0_1251 { 
	width:156px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_1252 { 
	background-color:rgba(255, 255, 255, 1);
	width:156px;
	height:76px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e0_1253 { 
	color:rgba(0, 0, 0, 1);
	width:99px;
	height:33px;
	position:absolute;
	left:16px;
	top:5px;
	font-family:Poppins;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
	line-height:px;
}.e0_1254 { 
	color:rgba(0, 0, 0, 1);
	width:85px;
	height:33px;
	position:absolute;
	left:16px;
	top:38px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:-1.100000023841858;
	line-height:px;
}.e0_1255 { 
	transform: rotate(9.93923337957349e-17deg);
	width:492px;
	height:0px;
	position:absolute;
	left:25px;
	top:910px;
}.0_1255 { 
	border:2px solid rgba(66.00000366568565, 105.00000134110451, 225.00000178813934, 1);
}.e0_1256 { 
	width:418.0899963378906px;
	height:70.08999633789062px;
	position:absolute;
	left:65px;
	top:956px;
}.e0_1257 { 
	width:70.08999633789062px;
	height:70.08999633789062px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_1258 { 
	width:70.08999633789062px;
	height:70.08999633789062px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:95.49999237060547px;
	border-top-right-radius:95.49999237060547px;
	border-bottom-left-radius:95.49999237060547px;
	border-bottom-right-radius:95.49999237060547px;
	background-image:url(images/avatar___small.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e0_1259 { 
	width:70.08999633789062px;
	height:70.08999633789062px;
	position:absolute;
	left:87px;
	top:0px;
}.e0_1260 { 
	width:70.08999633789062px;
	height:70.08999633789062px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:95.49999237060547px;
	border-top-right-radius:95.49999237060547px;
	border-bottom-left-radius:95.49999237060547px;
	border-bottom-right-radius:95.49999237060547px;
	background-image:url(images/avatar___small.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e0_1261 { 
	width:70.08999633789062px;
	height:70.08999633789062px;
	position:absolute;
	left:174px;
	top:0px;
}.e0_1262 { 
	width:70.08999633789062px;
	height:70.08999633789062px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:95.49999237060547px;
	border-top-right-radius:95.49999237060547px;
	border-bottom-left-radius:95.49999237060547px;
	border-bottom-right-radius:95.49999237060547px;
	background-image:url(images/avatar___small.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e0_1263 { 
	width:70.08999633789062px;
	height:70.08999633789062px;
	position:absolute;
	left:261px;
	top:0px;
}.e0_1264 { 
	width:70.08999633789062px;
	height:70.08999633789062px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:95.49999237060547px;
	border-top-right-radius:95.49999237060547px;
	border-bottom-left-radius:95.49999237060547px;
	border-bottom-right-radius:95.49999237060547px;
	background-image:url(images/avatar___small.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e0_1265 { 
	width:70.08999633789062px;
	height:70.08999633789062px;
	position:absolute;
	left:348px;
	top:0px;
}.e0_1266 { 
	width:70.08999633789062px;
	height:70.08999633789062px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:95.49999237060547px;
	border-top-right-radius:95.49999237060547px;
	border-bottom-left-radius:95.49999237060547px;
	border-bottom-right-radius:95.49999237060547px;
	background-image:url(images/avatar___small.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e0_1267 { 
	width:418.4499816894531px;
	height:70.08999633789062px;
	position:absolute;
	left:65px;
	top:1083px;
}.e0_1268 { 
	width:70.08999633789062px;
	height:70.08999633789062px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_1269 { 
	width:70.08999633789062px;
	height:70.08999633789062px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:95.49999237060547px;
	border-top-right-radius:95.49999237060547px;
	border-bottom-left-radius:95.49999237060547px;
	border-bottom-right-radius:95.49999237060547px;
	background-image:url(images/avatar___small.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e0_1270 { 
	width:70.08999633789062px;
	height:70.08999633789062px;
	position:absolute;
	left:87.08999633789062px;
	top:0px;
}.e0_1271 { 
	width:70.08999633789062px;
	height:70.08999633789062px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:95.49999237060547px;
	border-top-right-radius:95.49999237060547px;
	border-bottom-left-radius:95.49999237060547px;
	border-bottom-right-radius:95.49999237060547px;
	background-image:url(images/avatar___small.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e0_1272 { 
	width:70.08999633789062px;
	height:70.08999633789062px;
	position:absolute;
	left:174.17999267578125px;
	top:0px;
}.e0_1273 { 
	width:70.08999633789062px;
	height:70.08999633789062px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:95.49999237060547px;
	border-top-right-radius:95.49999237060547px;
	border-bottom-left-radius:95.49999237060547px;
	border-bottom-right-radius:95.49999237060547px;
	background-image:url(images/avatar___small.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e0_1274 { 
	width:70.08999633789062px;
	height:70.08999633789062px;
	position:absolute;
	left:261.2699890136719px;
	top:0px;
}.e0_1275 { 
	width:70.08999633789062px;
	height:70.08999633789062px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:95.49999237060547px;
	border-top-right-radius:95.49999237060547px;
	border-bottom-left-radius:95.49999237060547px;
	border-bottom-right-radius:95.49999237060547px;
	background-image:url(images/avatar___small.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e0_1276 { 
	width:70.08999633789062px;
	height:70.08999633789062px;
	position:absolute;
	left:348.3599853515625px;
	top:0px;
}.e0_1277 { 
	width:70.08999633789062px;
	height:70.08999633789062px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:95.49999237060547px;
	border-top-right-radius:95.49999237060547px;
	border-bottom-left-radius:95.49999237060547px;
	border-bottom-right-radius:95.49999237060547px;
	background-image:url(images/avatar___small.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e0_1278 { 
	color:rgba(0, 0, 0, 1);
	width:151px;
	height:33px;
	position:absolute;
	left:25px;
	top:917px;
	font-family:Poppins;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
	line-height:px;
}.e0_1279 { 
	color:rgba(0, 0, 0, 1);
	width:187px;
	height:33px;
	position:absolute;
	left:21px;
	top:1026px;
	font-family:Poppins;
	text-align:left;
	font-size:16px;
	letter-spacing:-1.100000023841858;
	line-height:px;
}