<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Html Generated</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="styles.css">
            
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }
            </style>
          
          </head>
          
          <body>
            <div class=e0_1056>
              <div class=e0_1057>
                <div class="e0_1058">

                </div>
              <div  class="e0_1059">

              </div>
            </div>
            <div class="e0_1060">

            </div>
            <div class=e0_1061>
              <div  class="ei0_1061_2807_6302"></div>
              <div  class="ei0_1061_2807_6303"></div>
            </div>
            <div  class="e0_1062"></div>
            <span  class="e0_1063">Suchen..</span>
            <div class=e0_1064>
              <div class=e0_1065>
                <div  class="e0_1066">

                </div>
                <div class=e0_1067>
                  <div class=e0_1068>
                    <div class=e0_1069>
                      <div class=e0_1071>
                        <div  class="e0_1072">

                        </div>
                      </div>
                    </div>
                    <div class=e0_1073>
                      <span class="e0_1074">Vorname Nachname</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <span class="e0_1075">All</span>
          </div>
        </body>
      </html>